@media only screen and (min-width: 641px) { 
    article { 
        column-count: 2; 
        column-gap: 30px; 
        column-rule: 2px solid gray; 

        widows: 3; 
        orphans: 3;
    } 

    article h1 { 
        column-span: all;
    }
} 


table.schedule { 
    background-color: lightpink; 
    border: 10px outset pink;  
    border-collapse: collapse;
    font-size: 0.75em; 
    width: 100%; 

}

/* Table Cell Styles */

table.schedule th, table.schedule td { 
    border: 1px solid; 
    padding: 5px; 
    vertical-align: top;
    width: 14%; 
    font-weight: bolder;
}



/* Row Group Styles */

table.schedule thead { 
    background: deeppink;
    color: white;
}



table.schedule tbody tr { 
    height: 90px; 
    width: 70px;
} 


/* Column Group Styles */

td.begNum { 
    background-color:darkcyan;
}

td.endNum { 
    background-color: darkcyan;
}

h1 { 
    text-align: center;
} 

body { 
    background-image: url("../images/IMG_8354.jpg"); 
    background-size:auto;  
    margin: 0 0 0 0; 
    background-repeat: no-repeat; 

}   

footer { 
    padding: 3%; 
    bottom: 0; 
    position: absolute; 
    right: 0;
}

footer > a { 

    color: blue;

} 

td.twoVert {
    background-color: maroon;
} 

td.sevenHors {
    background-color: maroon;
} 

td.threeHor {
    background-color: maroon;
} 

p {
    font-size: larger; 
    margin-left: 2%;
} 

